@import "tailwindcss";

@theme {
  /* --- 1. Custom Colors --- */
  --color-brand-red: #e12020;
  --color-brand-yellow: #fce08b;
  --color-brand-black: #030303;

  /* --- 2. Custom Fonts --- */
  /* Mengambil variable dari layout.tsx */
  --font-gotham: var(--font-gotham), "Montserrat", sans-serif;
  --font-dm: var(--font-dm-sans), sans-serif;

  /* --- 3. Breakpoints (Default Tailwind sudah aman untuk Mobile First) --- */
  /* sm: 640px, md: 768px, lg: 1024px, xl: 1280px */
}

/* Utilities Dasar */
body {
  font-family: var(--font-dm);
  background-color: var(--color-brand-black);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-gotham);
}
